header {
  display: flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  margin-bottom: calc(3em + 3vw);
  margin-top: calc(1em + 1vw);
}


header > nav > a > svg {
  margin: 0 10px 0 10px;
}
header > img {
  width: 150px;
}

nav {
  display: flex;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
}

.socialIcon > path {
  fill: #41b7a1;
}

.socialIcon:hover > path {
  fill: #fff;
}
@media screen and (max-device-width: 585px) {
  .tftLogo {
    width: 110px;
  }
}
