.topSection {
  text-align: center;
}
.tftLogo {
  width: 100px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  color: #ececec;
}
@media screen and (max-device-width: 585px) {
  h1 {
    font-size: 16pt;
    margin-left: 4%;
    margin-right: 4%;
  }
  .topSection {
    width: 70vw;
  }
}
