.profileIcon {
  border: 2px solid #41b7a1;
  border-radius: 50%;
  max-height: 4.5vh;
}
.tierIcon {
  height: 10%;
  width: auto;
}
@media screen and (max-width: 850px) {
  .tierIcon {
    width: 45px;
    height: auto;
  }
}
