.playersTable {
  background-color: #1d1d31;
  padding: 20px;
  border-radius: 5px;
  margin: 0 0 10% 0;
}
table {
  border-collapse: collapse;
  border-spacing: 10px;
  text-align: center;
}
td {
  padding-right: 1.5vw;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  padding-left: 1.5vw;
}
.thead {
  text-align: center;
  padding: 1.5vw;
}

tbody tr:nth-child(odd) {
  background-color: #121121;
  color: #7986a3;
}
tbody tr:first-child td {
  background-color: #41b7a1;
  color: #182338;
}
tbody:before {
  content: "@";
  display: block;
  line-height: 10px;
  text-indent: -99999px;
}
