.bubbles {
  display: flex;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-wrap: wrap;
  justify-content: center;
  margin: 5vh 0 2vh 0;
  width: 50vw;
}
.overlay {
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.bubbleContainer:hover .overlay {
  border-radius: 50%;
  display: block;
  background: rgba(0, 0, 0, 0.53);
}

.bubble {
  border: 2px solid #41b7a1;
  border-radius: 50%;
  position: absolute;
  width: calc(2em + 2vw);
  height: calc(2em + 2vw);
  left: 0;
}

/* .title {
  position: absolute;
  left: 1.1vw;
  top: 8vh;
  font-weight: 300;
  font-size: 90%;
  text-align: center;
  color: #5a6674;
} */

.button {
  position: absolute;
  width: calc(2em + 2vw);
  right: 0%;
  top: 30%;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.button button {
  text-align: center;
  color: white;
  z-index: 1;
}

.bubbleContainer:hover .button {
  opacity: 1;
  cursor: pointer;
}
.bubbleContainer {
  position: relative;
  width: calc(2em + 2vw);
  height: calc(2em + 2vw);
  margin: 1vw;
}

.binIcon {
  width: 55%;
  position: relative;
  bottom: 3px;
}
@media screen and (max-device-width: 585px) {
  .bubbleContainer {
    width: calc(2.5em + 2.5vw);
    height: calc(2.5em + 2.5vw);
    margin: 4%;
  }
  .bubbles {
    width: 80vw;
  }
  .bubble {
    width: calc(2.5em + 2.5vw);
    height: calc(2.5em + 2.5vw);
  }
}
