#root {
  overflow-x: hidden;
  height: 100%;
}
body {
  height: 100vh;
  margin: 0;
  background: #dedede;
  color: #7986a3;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  background-color: #121121;
  background-image: url("images/Background-splash.jpg");
  background-size: cover;
  background-position: center center;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  color: #ececec;
}
.tftLogo {
  width: 130px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.topSection {
  text-align: center;
  /*margin-top: calc(7em + 7vw);*/
}

.bubbles {
  display: flex;
  justify-content: center;
  margin: 5vh 0 5vh 0;
  width: 100%;
}
.playersInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playersTable {
  background-color: #1d1d31;
  padding: 20px;
  border-radius: 5px;
  margin: 0 0 10% 0;
}

footer {
  position: absolute;
  bottom: 0;
  height: 30px;
}

header {
  position: absolute;
  top: 40px;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  display: flex;
}

header > nav > a > svg {
  margin: 0 3% 0 3%;
}
header > img {
  width: 150px;
}

nav {
  display: flex;
}

.socialIcon > path {
  fill: #41b7a1;
}

.socialIcon:hover > path {
  fill: #fff;
}

@media only screen and (max-device-width: 850px) {
  h1 {
    font-size: 16pt;
    margin-left: 4%;
    margin-right: 4%;
  }
  .topSection {
    width: 70vw;
  }
}
