#root {
  overflow-x: hidden;
  height: 100%;
}
body {
  height: 100vh;
  margin: 0;
  background: #dedede;
  color: #7986a3;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  background-color: #121121;
  background-image: url("images/Background-splash.jpg");
  background-size: cover;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20pt;
  color: #ececec;
}
.tftLogo {
  width: 30%;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.topSection {
  text-align: center;
  margin-top: 10%;
}
table {
  border-collapse: collapse;
  border-spacing: 10px;
  text-align: center;
}
td {
  padding-right: 1.5vw;
  padding-bottom: 1.5vh;
  padding-top: 1.5vh;
  padding-left: 1.5vw;
}
.thead {
  text-align: center;
  padding: 1.5vw;
}

tbody tr:nth-child(odd) {
  background-color: #121121;
  color: #7986a3;
}
tbody tr:first-child td {
  background-color: #41b7a1;
  color: #182338;
}
.bubbles {
  display: flex;
  justify-content: center;
  margin: 5vh 0 5vh 0;
  width: 100%;
}
.playersInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.playersTable {
  background-color: #1d1d31;
  padding: 20px;
  border-radius: 5px;
  margin: 0 0 10% 0;
}
tbody:before {
  content: "@";
  display: block;
  line-height: 10px;
  text-indent: -99999px;
}
footer {
  position: absolute;
  bottom: 0;
  height: 1rem;
}

header {
  position: absolute;
  top: 40px;
  justify-content: space-between;
  align-items: center;
  width: 95vw;
  display: flex;
}

header > nav > a > svg {
  margin: 0 3% 0 3%;
}
header > img {
  width: 150px;
}

nav {
  display: flex;
}

.socialIcon > path {
  fill: #41b7a1;
}

.socialIcon:hover > path {
  fill: #fff;
}
