#root {
  overflow-x: hidden;
  height: 100%;
}
body {
  height: 100vh;
  margin: 0;
  background: #dedede;
  color: #7986a3;
  font-size: 13px;
  font-family: "Montserrat", "Roboto";
  background-color: #121121;
  background-image: url("images/Background-splash.jpg");
  background-size: cover;
  background-position: center center;
}
body table {
  font-weight: bold;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.playersInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
